<div id="signup-layout">
  <div class="signup-layout--signup">
    <form>
      <label>
        <span>Username</span>
        <input type="text" placeholder="Username" />
      </label>
      <label>
        <span>Password</span>
        <input type="password" placeholder="Password" />
      </label>
      <label>
        <span>Confirm Password</span>
        <input type="password" placeholder="Confirm Password" />
      </label>
      <button type="button">Sign Up</button>
    </form>
  </div>
  <div class="signup-layout--follow">
    <h3>You can also follow us on ...</h3>
    <ul>
      <li>
        <i class="fab fa-twitter"></i>
      </li>
      <li>
        <i class="fab fa-facebook-f"></i>
      </li>
      <li>
        <i class="fab fa-google"></i>
      </li>
    </ul>
  </div>
</div>
