<div id="signup-layout">
  <div class="signup-layout--signup">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <label>
        <span>Username</span>
        <input type="text" placeholder="Username" formControlName="username" name="username" autocomplete="off" />
      </label>
      <label>
        <span>Password</span>
        <input type="password" placeholder="Password" formControlName="password" name="password" autocomplete="off" />
      </label>
      <label>
        <span>Confirm Password</span>
        <input type="password" placeholder="Confirm Password" formControlName="repeat_password" name="repeat_password"
          autocomplete="off" />
      </label>
      <button type="submit">Sign Up</button>
    </form>
  </div>
  <div class="signup-layout--follow">
    <h3>You can also follow us on ...</h3>
    <ul>
      <li>
        <i class="fab fa-twitter"></i>
      </li>
      <li>
        <i class="fab fa-facebook-f"></i>
      </li>
      <li>
        <i class="fab fa-google"></i>
      </li>
    </ul>
  </div>
</div>
