<div id="login-layout">
  <div class="login-layout--login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <label>
        <ng-container *ngIf="!lastUser.detected; then showUserField; else showLastUser"></ng-container>
        <ng-template #showUserField>
          <span>Username</span>
          <input type="text" placeholder="Username" formControlName="user" name="user" autocomplete="off" />
        </ng-template>
        <ng-template #showLastUser>
          <div class="login-layout--last-user">
            <div class="login-layout--last-user--name">
              <p>
                Hello again,
                <span>{{ lastUser.user }}</span>
              </p>
              <p (click)="allowEditUserField()">This isn't me</p>
            </div>
            <div class="login-layout--last-user--avatar">
              <div [style.background-image]="'url(' + lastUser.avatar + ')'"></div>
            </div>
          </div>
          <input type="hidden" formControlName="user" name="user" autocomplete="off" />
        </ng-template>
      </label>
      <label>
        <span>Password</span>
        <input type="password" placeholder="Password" formControlName="pass" name="pass" autocomplete="off" />
      </label>
      <button type="submit">Login</button>
      <p>Forgot Password</p>
    </form>
  </div>
  <div class="login-layout--signup">
    <button type="button" routerLink="../signup">
      <i class="material-icons">supervisor_account</i>
      I want to be a member
    </button>
  </div>
  <div class="login-layout--follow">
    <ul>
      <li>
        <i class="fab fa-twitter"></i>
      </li>
      <li>
        <i class="fab fa-facebook-f"></i>
      </li>
      <li>
        <i class="fab fa-google"></i>
      </li>
    </ul>
  </div>
</div>
