<div id="login-layout">
  <div class="login-layout--login">
    <form>
      <label>
        <span>Username</span>
        <input type="text" placeholder="Username" />
      </label>
      <label>
        <span>Password</span>
        <input type="password" placeholder="Password" />
      </label>
      <button type="button">Login</button>
      <p>Forgot Password</p>
    </form>
  </div>
  <div class="login-layout--signup">
    <button type="button">
      <i class="material-icons">supervisor_account</i>
      I want to be a member
    </button>
  </div>
  <div class="login-layout--follow">
    <ul>
      <li>
        <i class="fab fa-twitter"></i>
      </li>
      <li>
        <i class="fab fa-facebook-f"></i>
      </li>
      <li>
        <i class="fab fa-google"></i>
      </li>
    </ul>
  </div>
</div>
