#template-mail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border-left: 1px solid #f8f8f8; */
  border-left: 1px solid #f3f4f8;
  background-color: #fafafe;
}

#template-mail>#tm--header {
  width: 100%;
  height: 80px;
  padding: 12.5px 20px;
  /* border-bottom: 1px solid #f8f8f8; */
  border-bottom: 1px solid #f3f4f8;
  background-color: white;
}

#template-mail>#tm--header>#tm--seacher {
  width: 100%;
  max-width: 600px;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  display: block;
}

#template-mail>#tm--header>#tm--seacher>form,
#template-mail>#tm--header>#tm--seacher>form>label,
#template-mail>#tm--header>#tm--seacher>form>label>.searcher--icon,
#template-mail>#tm--header>#tm--seacher>form>label>.searcher--input {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#template-mail>#tm--header>#tm--seacher>form>label>.searcher--icon {
  width: calc(24px + (18px * 2));
  margin-right: 10px;
  border-right: 1px solid #f0f0f0;
}

#template-mail>#tm--header>#tm--seacher>form>label>.searcher--icon>i {
  color: #cdcfda;
}

#template-mail>#tm--header>#tm--seacher>form>label>.searcher--input {
  width: calc(100% - 24px);
}

#template-mail>#tm--header>#tm--seacher>form>label>.searcher--input>input {
  width: 100%;
  padding: 0 10px;
  border: none;
}

#template-mail>#tm--body {
  width: 100%;
  height: calc(100% - 80px);
  background-color: transparent;
}

#template-mail>#tm--body>#tm--folder-col {
  width: 280px;
  height: 100%;
  padding: 40px;
  /* border-right: 1px solid #f8f8f8; */
  border-right: 1px solid #f3f4f8;
  background-color: #fff;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--compose-box {
  margin-top: 0px;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list {
  margin-top: 40px;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list,
#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul,
#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group,
#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group>ul,
#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group>ul>li.fl--folder {
  width: 100%;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>.fl--folder-group:not(:last-of-type) {
  margin-bottom: 40px;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group>ul>li.fl--folder {
  padding: 5px 0;
  margin-bottom: 5px;
  color: #8e92aa;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group>ul>li.fl--folder * {
  color: inherit;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group>ul>li.fl--folder>.fl--folder--icon {
  width: 24px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group>ul>li.fl--folder>.fl--folder--icon {
  min-width: 24px;
  white-space: nowrap;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group>ul>li.fl--folder>.fl--folder--text {
  width: calc(100% - 40px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>.fl--folder-group>ul>.fl--folder>.fl--folder--counter {
  padding-left: 10px;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group:first-of-type>ul>li.fl--folder:first-of-type::before {
  content: '';
  width: calc(100% + 60px);
  height: 100%;
  left: 0;
  margin-left: -40px;
  border-radius: 0 40px 40px 0;
  background-color: #eff2ff;
  position: absolute;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group:first-of-type>ul>li.fl--folder:first-of-type {
  padding: 8px 0;
}

#template-mail>#tm--body>#tm--folder-col>#tm--fc--folders-list>ul>li.fl--folder-group:first-of-type>ul>li.fl--folder:first-of-type * {
  font-weight: 500;
  color: #5a77fe;
}

#template-mail>#tm--body>#tm--fc--mail-list {
  width: calc(100% - 280px);
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  position: absolute;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list {
  width: 420px;
  height: 100%;
  /* border-right: 1px solid #f8f8f8; */
  border-right: 1px solid #f3f4f8;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>div {
  width: 100%;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header {
  height: 80px;
  padding: 0 10px;
  /* border-bottom: 1px solid #f8f8f8; */
  border-bottom: 1px solid #f3f4f8;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--checkbox-dropdown,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--checkbox-dropdown>.ml--header--cd--box,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--filter-by-state,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--filter-by-state>ul,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--filter-by-state>ul>li,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination>div {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>div:not(:last-of-type) {
  margin-right: 40px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--checkbox-dropdown {
  cursor: pointer;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--checkbox-dropdown>.ml--header--cd--box {
  height: auto;
  padding: 10px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--checkbox-dropdown>.ml--header--cd--box>i:last-of-type {
  margin-left: 4px;
  font-size: 14px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--filter-by-state>ul>li {
  padding: 12px;
  opacity: 0.5;
  display: inline-flex;
  cursor: pointer;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--filter-by-state>ul>li.active {
  font-weight: 500;
  color: #5a77fe;
  opacity: 1;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination>#pagination--arrow-left {
  margin-right: 8px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination>#pagination--pages {
  font-weight: 500;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination>#pagination--arrow-right {
  margin-left: 8px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination>#pagination--arrow-left:not(.is-disabled),
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination>#pagination--arrow-right:not(.is-disabled) {
  color: #5a77fe;
  cursor: pointer;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination>#pagination--arrow-left.is-disabled,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination>#pagination--arrow-right.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination>#pagination--arrow-left>i,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--header>.col>#ml--header--pagination>#pagination--arrow-right>i {
  color: inherit;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main {
  height: calc(100% - 80px);
  overflow: auto;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  display: block;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box {
  width: 100%;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message {
  border-bottom: 1px solid #f6f5f9;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message.is-open {
  background-color: #eff2ffd4;
  border-right: 2px solid #5a77fe;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box {
  padding: 14px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-left {
  width: 24px;
  height: 100%;
  left: 0;
  margin-left: -20px;
  transform: translateX(-100%);
  transition: transform 0.4s, margin-left 0.4s;
  position: absolute;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box:hover>.mg--message--col-left {
  margin-left: 20px;
  transform: translateX(0%);
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right {
  width: 100%;
  height: 100%;
  transition: width 0.4s;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box:hover>.mg--message--col-right {
  width: calc(100% - 24px);
  height: 100%;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-left>.mg--message--selector {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-left>.mg--message--selector>i {
  cursor: pointer;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--header>.mg--message--transmitter {
  width: 100%;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--header>.mg--message--transmitter>.mg--user-details {
  width: 100%;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--header>.mg--message--transmitter>.mg--user-details>.mg--user-details--avatar {
  width: 38px;
  min-width: 38px;
  height: 38px;
  min-height: 38px;
  margin-right: 10px;
  border-radius: 100%;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--header>.mg--message--transmitter>.mg--user-details>.mg--user-details--name {
  width: calc(100% - 38px);
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--header>.mg--message--transmitter>.mg--user-details>.mg--user-details--name>span {
  width: 100%;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--header>.mg--message--date {
  width: 100%;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--header>.mg--message--date>span {
  width: 100%;
  color: #9b9eac;
  text-align: right;
  display: inline-block;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--body {
  width: 100%;
  padding-left: 48px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--body>div {
  width: 100%;
  display: block;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--body>.mg--message--subject {
  width: 90%;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--body>.mg--message--subject>p {
  width: 100%;
  font-weight: 400;
  line-height: 1.4;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--list>#tm--fc--ml--main>.msg-group>ul>li.mg--message>.mg--message--box>.mg--message--col-right>.mg--message--body>.mg--message--content>p {
  width: 100%;
  font-size: 85%;
  line-height: 1.4;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail {
  width: calc(100% - 420px);
  height: 100%;
  background-color: #ffffff;
}


#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--transmitter,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--transmitter>.mp--t-details {
  width: 100%;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview {
  height: 100%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header {
  padding-bottom: 15px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--transmitter>.mp--t-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--transmitter>.mp--t-details>.mp--t-details--avatar {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  border-radius: 100%;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--transmitter>.mp--t-details>.mp--t-details--name {
  width: calc(100% - 48px);
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--transmitter>.mp--t-details>.mp--t-details--name>span {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--more-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--more-options>div:not(:last-of-type) {
  padding: 10px 20px;
  margin-right: 10px;
  /* border-right: 1px solid #f8f8f8; */
  border-right: 1px solid #f3f4f8;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--more-options>.mp--reception-date>span {
  color: #9b9eac;
  white-space: nowrap;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--more-options>.mp--actions>ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--more-options>.mp--actions>ul>li {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--header>.mp--more-options>.mp--actions>ul>li>i.material-icons {
  color: #9b9eac;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--body,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--body>div,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--body>.mp--c--subject>h5 {
  width: 100%;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--body {
  height: 100%;
  padding: 20px 0;
  padding-top: 10px;
  /* border-bottom: 1px solid #f8f8f8; */
  border-bottom: 1px solid #f3f4f8;
  overflow: auto;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--body>div:last-child {
  margin-bottom: 10px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--body>.mp--c--subject {
  margin-bottom: 15px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--body>.mp--c--subject>h5 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--body>.mp--c--content {
  line-height: 1.4;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form #template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>div,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--header>h6 {
  width: 100%;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer {
  padding-top: 20px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--header {
  margin-bottom: 20px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--header>h6 {
  font-size: 20px;
  font-weight: 400;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body {
  min-height: 161.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--receivers {
  padding-right: 15px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--receivers>ul>.rl--receiver {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form {
  width: calc(100% - 53px);
  border-radius: 6px;
  background-color: #f5f5f5;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>div,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--options>ul {
  width: 100%;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header {
  padding: 10px;
  padding-bottom: 0;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header>.f--header-main>.f--reply-type {
  width: 34px;
  padding-right: 10px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header>.f--header-main>.f--reply-to {
  width: calc(100% - 34px);
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header>.f--header-main>.f--reply-to>ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header>.f--header-main>.f--reply-to>ul>li {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header>.f--header-main>.f--reply-to>ul>li:not(:first-of-type) {
  padding-left: 5px;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header>.f--header-main>.f--reply-to>ul>li.btn-add-receiver {
  color: #9b9eac;
  line-height: 0;
  cursor: pointer;
  opacity: 0;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header>.f--header-main>.f--reply-to:hover>ul>li.btn-add-receiver {
  opacity: 1;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header>.f--header-main>.f--reply-to>ul>li>span {
  font-size: 16px;
  font-weight: 400;
  color: inherit;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--header>.f--header-main>.f--reply-to>ul>li.btn-add-receiver>span>i {
  font-size: 18px;
  color: inherit;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--body>textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  resize: none;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--options>ul,
#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--options>ul>li>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--options>ul>li>ul>li {
  height: 45px;
  padding: 10px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--options>ul>li>ul>li:not(:last-of-type) {
  border-right: 1px solid #e8e8e9;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--options>ul>li:last-of-type>ul>li:nth-child(2) {
  border-right: none;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--options>ul>li:last-child>ul>li:last-of-type {
  padding: 0;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--options>ul>li:last-child>ul>li:last-of-type>button.btn.btn-submit {
  margin: 0;
  border-radius: 2px 0 6px 0;
  font-weight: 400;
  box-shadow: none;
}

#template-mail>#tm--body>#tm--fc--mail-list>#tm--fc--ml--mail>.mail-preview>.mp--footer>.mp--reply-form>.mp--rf--body>.mp--rf--form>form>.f--options>ul>li:last-child>ul>li:last-of-type>button.btn.btn-submit>span {
  margin-left: 5px;
  font-weight: inherit;
}
