<div id="login-layout">
  <div class="ll-logo">
    <div class="ll-logo--logo">
      <img src="" alt="" />
    </div>
  </div>
  <div class="ll-tabs">
    <ul class="ll-tabs-list">
      <li class="ll-tabs--tab active">Login</li>
      <li class="ll-tabs--tab">Sign Up</li>
    </ul>
  </div>
  <div class="ll-form">
    <div class="ll-form--login">
      <form>
        <label>
          <span>Username</span>
          <input type="text" placeholder="Username" />
        </label>
        <label>
          <span>Password</span>
          <input type="password" placeholder="Password" />
        </label>
        <button type="button">Login</button>
        <p>Forgot Password</p>
      </form>
    </div>
    <div class="ll-form--signup">
      <button type="button">
        <i class="material-icons">supervisor_account</i>
        I want to be a member
      </button>
    </div>
    <div class="ll-form--follow">
      <ul>
        <li>
          <i class="fab fa-twitter"></i>
        </li>
        <li>
          <i class="fab fa-facebook-f"></i>
        </li>
        <li>
          <i class="fab fa-google"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
