<div id="main-menu" [ngClass]="{'menu-expanded': expandMenu}">
  <div class="mm-logo">
    <app-simplify-logo [size]="'small'"></app-simplify-logo>
  </div>
  <div class="mm-options">
    <div class="mm-o--filters">
      <div class="mm-o--filters-searcher">
        <input type="text" placeholder="Type here..." />
      </div>
      <div class="mm-o--filters-sorter">
        <p>Sort by: <span class="order-applied">Scientifically</span></p>
      </div>
    </div>
    <div class="mm-o--list">
      <ul>
        <li class="mm-option--account" *ngFor="let account of accountsList"
          [ngClass]="{'quick-access': account.quickAccess}">
          <app-preview-account-profile [account]="account"></app-preview-account-profile>
          <div class="mm-option--account-details hidden-content">
            <p class="mm-option--ad-user">{{ account.user }} · {{ capitalizeFirstLetter(account.type) }}</p>
            <p class="mm-option--ad-username">{{ account.username }}</p>
          </div>
        </li>
        <li class="add-new">
          <i class="material-icons">
            add
          </i>
        </li>
      </ul>
    </div>
  </div>
  <div class="mm-profile">
    <ul>
      <li>
        <div class="user">
          <div class="user-avatar">
            <div [style.background-image]="'url(' + user.avatar + ')'"></div>
          </div>
          <div class="user-details hidden-content">
            <div class="user-details--username">
              <p>Hello again, </p>
              <h4>Julia Martínez</h4>
            </div>
            <!-- <div class="user-details--actions">
              <ul>
                <li>Settings</li>
                <li>Notifications</li>
                <li>Logout</li>
              </ul>
            </div> -->
          </div>
        </div>
      </li>
      <li class="expand-menu" (click)="toggleExpandMenu()">
        <i class="material-icons">
          keyboard_arrow_right
        </i>
        <div class="hidden-content">
          <span>Collapse Menu</span>
        </div>
      </li>
    </ul>
  </div>
</div>
