#main-menu {
  width: 96px;
  height: 100%;
  padding: 25px;
  transition: 0.3s;
  box-shadow: 0 0 0 transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#main-menu * {
  color: #508af0;
}

#main-menu.menu-expanded {
  width: 360px;
  /* background-color: rgba(80, 138, 240, 0.071); */
}

#main-menu>div,
#main-menu>div ul {
  width: 100%;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#main-menu>div ul>li {
  width: 48px;
  height: 48px;
  border-radius: 40px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  background-color: rgba(80, 138, 240, 0.071);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

#main-menu>div ul>li.add-new {
  justify-content: center;
}

#main-menu>div ul>li:not(:last-of-type) {
  margin-bottom: 10px;
}

#main-menu>div ul>li>i {
  font-size: 21px;
  /* color: #848484; */
  color: inherit;
}

#main-menu>.mm-options>.mm-o--list>ul>li.show-all>div {
  width: 50%;
  height: 2.5px;
  margin: 2px 0;
  background-color: #508af0;
}

#main-menu>.mm-options>.mm-o--list>ul>li.show-all>div::before,
#main-menu>.mm-options>.mm-o--list>ul>li.show-all>div::after {
  content: '';
  height: 2.5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #508af0;
  position: absolute;
}

#main-menu>.mm-options>.mm-o--list>ul>li.show-all>div::before {
  width: 85%;
  margin-top: -5px;
}

#main-menu>.mm-options>.mm-o--list>ul>li.show-all>div::after {
  width: 60%;
  margin-top: 5px;
}



/* ================================================ */
/* MAIN-MENU > MM-LOGO                           */
/* ================================================ */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-logo {
  align-items: center;
}

/* WITH CLASS .MENU-EXPANDED */



/* ================================================ */
/* MAIN-MENU > MM-OPTIONS                           */
/* ================================================ */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-options {
  height: 100%;
  padding: 30px 0;
}

/* WITH CLASS .MENU-EXPANDED */
#main-menu.menu-expanded>.mm-options {
  padding-top: 20px;
}


/* ================================================ */
/* MAIN-MENU > MM-OPTIONS > MM-O--FILTERS           */
/* ================================================ */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-options>.mm-o--filters {
  width: 100%;
  max-height: 0;
  padding-bottom: 0;
  opacity: 0;
  transition: 0.4s;
}

/* WITH CLASS .MENU-EXPANDED */
#main-menu.menu-expanded>.mm-options>.mm-o--filters {
  max-height: 100px;
  padding-bottom: 25px;
  opacity: 1;
}


/* ================================================== */
/* MAIN-MENU > MM-OPTIONS > MM-O--FILTERS > SEARCHER  */
/* ================================================== */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-options>.mm-o--filters>.mm-o--filters-searcher {
  width: 100%;
  margin-bottom: 10px;
}

#main-menu>.mm-options>.mm-o--filters>.mm-o--filters-searcher>input {
  width: 100%;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  /* background-color: rgba(80, 138, 240, 0.071); */
  background-color: #f4f5f6;
}

#main-menu>.mm-options>.mm-o--filters>.mm-o--filters-searcher>input::placeholder {
  opacity: 0.85;
}

/* WITH CLASS .MENU-EXPANDED */


/* ================================================== */
/* MAIN-MENU > MM-OPTIONS > MM-O--FILTERS > SORTBY    */
/* ================================================== */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-options>.mm-o--filters>.mm-o--filters-sorter {
  width: 100%;
  padding: 0 5px;
}

#main-menu>.mm-options>.mm-o--filters>.mm-o--filters-sorter>p {
  width: 100%;
  font-size: 14px;
}

#main-menu>.mm-options>.mm-o--filters>.mm-o--filters-sorter>p>.order-applied {
  font: inherit;
  font-weight: 500;
  color: inherit;
  display: inline-block;
}


/* WITH CLASS .MENU-EXPANDED */



/* ================================================ */
/* MAIN-MENU > MM-OPTIONS > MM-O--LIST              */
/* ================================================ */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-options>.mm-o--list {
  width: 100%;
  font: inherit;
  color: inherit;
}

/* WITH CLASS .MENU-EXPANDED */
#main-menu.menu-expanded>.mm-options>.mm-o--list {
  overflow: visible;
  overflow-x: hidden;
}


/* ================================================ */
/* MAIN-MENU > MM-OPTIONS > MM-O--LIST > UL > LI    */
/* ================================================ */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-options>.mm-o--list>ul>li {
  transition: margin 0.4s 0s, opacity 0.4s 0.8s, border-radius 0.4s 0s, background 0.4s 0s;
  opacity: 1;
}

#main-menu:not(.menu-expanded)>.mm-options>.mm-o--list>ul>li:not(.quick-access):not(.add-new) {
  margin-top: -58px;
  opacity: 0;
  z-index: -1;
}

#main-menu:not(.menu-expanded)>.mm-options>.mm-o--list>ul>li.add-new {
  margin-top: 0;
}

/* WITH CLASS .MENU-EXPANDED */
#main-menu.menu-expanded>.mm-options>.mm-o--list>ul>li:not(.add-new) {
  width: 100%;
  height: 78px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #f7f8fb;
}

#main-menu.menu-expanded>.mm-options>.mm-o--list>ul>li.add-new {
  width: 48px;
  margin-top: -58px;
  opacity: 0;
  z-index: -1;
}



/* ================================================ */
/* MAIN-MENU > MM-OPTIONS > LI > ACCOUNT            */
/* ================================================ */

/* WITH CLASS .MENU-EXPANDED */
#main-menu.menu-expanded>.mm-options>.mm-o--list>ul>.mm-option--account>.mm-option--account-details {
  width: calc(100% - 48px);
  padding: 0 25px;
  padding-right: 0;
  flex-direction: column;
  justify-content: center;
}

#main-menu.menu-expanded>.mm-options>.mm-o--list>ul>.mm-option--account>.mm-option--account-details>.mm-option--ad-user {
  width: 100%;
  margin-bottom: 2.5px;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
}

#main-menu.menu-expanded>.mm-options>.mm-o--list>ul>.mm-option--account>.mm-option--account-details>.mm-option--ad-username {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  color: inherit;
  opacity: 0.7;
}



/* ================================================ */
/* MAIN-MENU > MM-PROFILE */
/* ================================================ */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-profile {
  padding-top: 30px;
  border-top: 1px solid rgba(80, 138, 240, 0.071);
}



/* ================================================ */
/* MAIN-MENU > MM-PROFILE > LI */
/* ================================================ */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-profile>ul>li {
  white-space: nowrap;
  transition: width 0.6s;
  justify-content: flex-start;
}

/* WITH CLASS .MENU-EXPANDED */
#main-menu.menu-expanded>.mm-profile>ul>li {
  width: 100%;
  justify-content: flex-start;
}


/* ================================================ */
/* MAIN-MENU > MM-PROFILE > USER */
/* ================================================ */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-profile>ul>li:nth-child(1) {
  height: auto;
  max-height: 48px;
  transition: width 0.6s, max-height 0.6s, padding 0.3s;
}

#main-menu>.mm-profile>ul>li:nth-child(1)>.user {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#main-menu>.mm-profile>ul>li:nth-child(1)>.user>.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  transition: all 0.6s, margin 0.3s;
  overflow: hidden;
}

#main-menu>.mm-profile>ul>li:nth-child(1)>.user>.user-avatar>div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#main-menu>.mm-profile>ul>li:nth-child(1)>.user>.user-details {
  width: calc(100% - 48px);
  padding: 5px 0px;
  transition: width 0.6s, padding 0.3s;
  flex-direction: column;
  overflow: hidden;
}

#main-menu>.mm-profile>ul>li:nth-child(1)>.user>.user-details>h4 {
  width: 100%;
}


/* WITH CLASS .MENU-EXPANDED */
#main-menu.menu-expanded>.mm-profile>ul>li:nth-child(1) {
  min-height: 100px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: width 0.6s, max-height 0.6s, padding 0.6s;
}

#main-menu.menu-expanded>.mm-profile>ul>li:nth-child(1)>.user>.user-avatar {
  width: 64px;
  height: 64px;
  margin-top: -25px;
  border-radius: 10px;
  box-shadow: 0 11px 8px -6px #c0d7ff;
  transition: all 0.6s;
}

#main-menu.menu-expanded>.mm-profile>ul>li:nth-child(1)>.user>.user-details {
  width: calc(100% - 64px);
  padding: 10px 20px;
  transition: width 0.6s, padding 0.6s;
}

#main-menu.menu-expanded>.mm-profile>ul>li:nth-child(1)>.user>.user-details>.user-details--username {
  width: 100%;
}

#main-menu>.mm-profile>ul>li:nth-child(1)>.user>.user-details>.user-details--username>h4 {
  color: inherit;
  font-weight: 500;
}

#main-menu>.mm-profile>ul>li:nth-child(1)>.user>.user-details>.user-details--username>p {
  width: 100%;
  color: inherit;
  font-size: 14px;
}

#main-menu.menu-expanded>.mm-profile>ul>li:nth-child(1)>.user>.user-details>.user-details--actions,
#main-menu.menu-expanded>.mm-profile>ul>li:nth-child(1)>.user>.user-details>.user-details--actions>ul,
#main-menu.menu-expanded>.mm-profile>ul>li:nth-child(1)>.user>.user-details>.user-details--actions>ul>li {
  width: 100%;
}

#main-menu.menu-expanded>.mm-profile>ul>li:nth-child(1)>.user>.user-details>.user-details--actions {
  margin-top: 10px;
}

#main-menu.menu-expanded>.mm-profile>ul>li:nth-child(1)>.user>.user-details>.user-details--actions>ul>li {
  height: auto;
  padding: 0;
  margin: 0;
  background-color: transparent;
}


/* ================================================ */
/* MAIN-MENU > MM-PROFILE > BTN EXPAND MENU */
/* ================================================ */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>.mm-profile>ul>li.expand-menu {
  padding: 13.5px;
  transition: width 0.6s, background-color 0.6s;
}

#main-menu>.mm-profile>ul>li.expand-menu>i {
  transition: transform 0.6s;
}

/* WITH CLASS .MENU-EXPANDED */
#main-menu.menu-expanded>.mm-profile>ul>li.expand-menu {
  background-color: transparent;
}

#main-menu.menu-expanded>.mm-profile>ul>li.expand-menu>i {
  transform: rotate(180deg);
}


/* ================================================ */
/* MAIN-MENU > ... > HIDDEN-CONTENT */
/* ================================================ */

/* WITHOUT CLASS .MENU-EXPANDED */
#main-menu>div ul>li .hidden-content {
  width: 0%;
  height: 100%;
  padding: 0px;
  font: inherit;
  color: inherit;
  transition: width 0.6s, padding 0.6s;
  transition-delay: 0s;
  white-space: nowrap;
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#main-menu>div ul>li .hidden-content>* {
  width: 100%;
  font: inherit;
  color: inherit;
}

/* WITH CLASS .MENU-EXPANDED */
#main-menu.menu-expanded>div ul>li .hidden-content {
  width: calc(100% - 48px);
  padding: 10px;
  opacity: 1;
}
