<div class="error">
  <div class="error-img">
    <i class="error-icon material-icons-round">announcement</i>
    <i class="error-icon material-icons-round">announcement</i>
    <i class="error-icon material-icons-round">announcement</i>
  </div>
  <h3 class="error-title">Developing screen</h3>
  <p class="error-description">This screen is currently in development. As soon as you finish your development, you can
    access it and perform your usual tasks.</p>
  <div class="error-timer">
    <p class="error-timer--text">Expected duration: <span>Undefined</span></p>
  </div>
</div>
