:host {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 10;
}

.error {
  width: 450px;
  max-width: 100%;
  top: 50%;
  left: calc(50% - 44px);
  transform: translate(-50%, -50%);
  position: absolute;
}

.error>.error-img,
.error>.error-img>.error-icon {
  margin: 0 auto;
  font-size: 129px;
  color: #5a77fe;
  text-align: center;
  display: block;
}

.error>.error-img {
  max-width: 50%;
  margin-bottom: 30px;
}

.error>.error-title {
  margin-bottom: 15px;
  color: #5a77fe;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.error p {
  color: #9c9c9c;
  font-size: 21px;
  line-height: 1.6;
  text-align: center;
}

.error>.error-timer {
  margin-top: 20px;
}

.error>.error-timer>.error-timer--text>span {
  font: inherit;
  color: #5a77fe;
}
