:host,
.preview-account-profile,
.preview-account-profile>.pap-user-pic {
  width: 48px;
  height: 48px;
  display: inline-block;
}

.preview-account-profile.news-notification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.preview-account-profile.news-notification>.pap-user-pic::before {
  content: "";
  width: 56px;
  height: 56px;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(45deg, #5a77fe, #25e4af);
  position: absolute;
  z-index: -2;
}

.preview-account-profile>.pap-user-pic::after {
  content: "";
  width: 52px;
  height: 52px;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: white;
  position: absolute;
  z-index: -1;
}

.preview-account-profile>.pap-user-pic>.pap-up-avatar {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(80, 138, 240, 0.071);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
}

.preview-account-profile>.pap-user-pic>.pap-up-platform {
  width: 22px;
  height: 22px;
  right: 0;
  bottom: 0;
  border: 2px solid white;
  border-radius: 100%;
  font-size: 12px;
  color: white;
  transform: translate(15%, 15%);
  transition: 0.25s;
  background-color: #4967ff;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* .preview-account-profile.not-avatar>.pap-user-pic>.pap-up-platform,
.preview-account-profile:hover>.pap-user-pic>.pap-up-platform {
  width: 100%;
  height: 100%;
  right: 50%;
  bottom: 50%;
  font-size: 24px;
  transform: translate(50%, 50%);
} */

.preview-account-profile>.pap-user-pic>.pap-up-platform>i {
  font-size: inherit;
  color: inherit;
}


/* 
.preview-account-profile>.pap-user-card {
  width: 320px;
  height: auto;
  top: 0;
  left: 100%;
  margin-left: 10px;
  border-radius: 8px;
  box-shadow: 0 5px 12px 2px rgb(236, 239, 255);
  position: absolute;
  overflow: hidden;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
}

.preview-account-profile:hover>.pap-user-card {
  display: flex;
}

.preview-account-profile>.pap-user-card>div {
  width: 100%;
}

.preview-account-profile>.pap-user-card>.pap-uc-bg {
  height: 130px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}

.preview-account-profile>.pap-user-card>.pap-uc-bg::before {
  content: '';
  right: 0;
  bottom: 0;
  border-top: 360px solid transparent;
  border-right: 360px solid transparent;
  border-bottom: 40px solid white;
  position: absolute;
  z-index: 2;
}

.preview-account-profile>.pap-user-card>.pap-uc-bg::after {
  content: '';
  width: 380px;
  height: 20px;
  top: 178px;
  left: 50%;
  background-color: transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, .55);
  transform: rotate(6.3deg) translateX(-50%);
  position: absolute;
  z-index: 1;
}

.preview-account-profile>.pap-user-card>.pap-uc-details {
  height: calc(100% - 140px);
  padding: 20px 30px;
  padding-top: 0px;
  background-color: white;
  z-index: 2;
}

.preview-account-profile>.pap-user-card>.pap-uc-details::before {
  left: 0;
  bottom: 0;
  font-family: "Font Awesome 5 Brands";
  font-size: 128px;
  color: rgba(0, 0, 0, 0.08);
  transform: translate(-25%, 35%);
  position: absolute;
}

.preview-account-profile>.pap-user-card>.pap-uc-details * {
  text-align: center;
}

.preview-account-profile>.pap-user-card>.pap-uc-details>.pap-uc-details--profile,
.preview-account-profile>.pap-user-card>.pap-uc-details>.pap-uc-details--profile>div {
  width: 100%;
}

.preview-account-profile>.pap-user-card>.pap-uc-details>.pap-uc-details--profile>.pap-uc-details--profile-avatar {
  margin-top: -90px;
  margin-bottom: 15px;
}

.preview-account-profile>.pap-user-card>.pap-uc-details>.pap-uc-details--profile>.pap-uc-details--profile-avatar>div {
  width: 96px;
  height: 96px;
  left: 50%;
  bottom: 0;
  border-radius: 100%;
  transform: translate(-50%, 0%);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 -2px 10px 0px rgba(0, 0, 0, 0.3);
}

.preview-account-profile>.pap-user-card>.pap-uc-details>.pap-uc-details--profile>.pap-uc-details--profile-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.preview-account-profile>.pap-user-card>.pap-uc-details>.pap-uc-details--profile>.pap-uc-details--profile-name>h3 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  // text-shadow: 0 0 7px rgba(0, 0, 0, .35);
}

.preview-account-profile>.pap-user-card>.pap-uc-details>.pap-uc-details--profile>.pap-uc-details--profile-name>p {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  // text-shadow: 0 0 4px rgba(0, 0, 0, .5);
} */

.preview-account-profile.pap-gmail>.pap-user-pic>.pap-up-platform,
.preview-account-profile.pap-gmail>.pap-user-card>.pap-uc-details {
  background-color: #dd4b39;
}

.preview-account-profile.pap-gmail>.pap-user-card>.pap-uc-details::before {
  content: "\f1a0";
}

.preview-account-profile.pap-slack>.pap-user-pic>.pap-up-platform,
.preview-account-profile.pap-slack>.pap-user-card>.pap-uc-details {
  background-color: #7c3085;
}

.preview-account-profile.pap-slack>.pap-user-card>.pap-uc-details::before {
  content: "\f198";
}

.preview-account-profile.pap-facebook>.pap-user-pic>.pap-up-platform,
.preview-account-profile.pap-facebook>.pap-user-card>.pap-uc-details {
  background-color: #3b5999;
}

.preview-account-profile.pap-facebook>.pap-user-card>.pap-uc-details::before {
  content: "\f39e";
}

.preview-account-profile.pap-twitter>.pap-user-pic>.pap-up-platform,
.preview-account-profile.pap-twitter>.pap-user-card>.pap-uc-details {
  background-color: #55acee;
}

.preview-account-profile.pap-twitter>.pap-user-card>.pap-uc-details::before {
  content: "\f099";
}

.preview-account-profile.pap-gmail>.pap-user-card>.pap-uc-bg::before {
  border-bottom-color: #dd4b39;
}

.preview-account-profile.pap-slack>.pap-user-card>.pap-uc-bg::before {
  border-bottom-color: #7c3085;
}

.preview-account-profile.pap-facebook>.pap-user-card>.pap-uc-bg::before {
  border-bottom-color: #3b5999;
}

.preview-account-profile.pap-twitter>.pap-user-card>.pap-uc-bg::before {
  border-bottom-color: #55acee;
}
