/* Logo */
.simplify-logo {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: #eeeeee;
  background-image: linear-gradient(45deg, #5a77fe, #25e4af) !important;
  overflow: hidden;
  display: block;
}

.simplify-logo::before {
  content: 'S';
  top: 50%;
  left: 50%;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: white;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}

.simplify-logo::after {
  content: '';
  width: 200%;
  height: 80%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
}
