<div id="dashboard-container">
  <!-- <div class="searcher">
    <div class="searcher--box">
      <div class="searcher--form">
        <h1>What do you want to look for?</h1>
        <form autocomplete="off">
          <label class="search-input">
            <span>
              <i class="material-icons">
                search
              </i>
            </span>
            <input type="text" placeholder="" name="searcher" autocomplete="off" />
          </label>
        </form>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="news-container">
      <app-news-list-mail></app-news-list-mail>
    </div>
  </div> -->
</div>
